{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<h1 class="mt-5">Djangoで作るログイン機能</h1>

{% if user.is_authenticated %}
<p>
    {{ user }}でログインしています
</p>
<p>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    {% bootstrap_button button_type="submit" button_class="btn-danger" content="ログアウト" size="md" %}
</form>
</p>
{% else %}

<section>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="ログイン" size="md" %}
    </form>
    <p><a href="{% url 'accounts:signup' %}">{% bootstrap_button button_type="submit" content="新規登録" size="md" %}</a></p>
</section>

{% endif %}

<div class="mt-3"><a onclick='JavaScript:history.back()'>
        {% bootstrap_button button_type="submit" button_class="btn-secondary" content="戻る" %}
    </a></div>
{% endblock %}